
  body
  {
    background-image: url("background.png");

  }

  #login-box
  {
    background-color:white;
    width: 430px;
    height: 660px;
    margin: 99px auto 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    margin-top: 50px;


  }

  #login-logo
  {

    height: 170px;


  }

  #logo
  {
    width:180px;
    height:170px;
    position:absolute;
    top:26%;
    left:47%;
    margin-top:-90px;
    margin-left:-40px;
    display: block;

  }

  #login-descricao
  {
    height: 350px;
    width: 340px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;

  }

  #formulario{
    margin-left: 35px;
    margin-top: 50px;

  }

.botaoConta{
   background-color:#316AB2;
   color: white;

}

#serie{





}
