
  body
  {
    background-image: url("background.png");

  }

  #login-box
  {
    background-color:white;
    width: 460px;
    height: 700px;
    margin: 99px auto 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    margin-top: 50px;

  }

  #login-logo
  {

    height: 170px;


  }

  #logo
  {
    width:180px;
    height:160px;
    position:absolute;
    top:26%;
    left:47%;
    margin-top:-73px;
    margin-left:-50px;
    display: block;

  }

  #login-descricao
  {
    height: 350px;
    width: 340px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-right-color:  black;
    display: flex;
    flex-direction: row;

  }

  #formulario{
    margin-left: 30px;
    margin-top: 50px;


  }

.botao{
  margin-left: 26%;

}

#serie{





}
